body,
html{
	width:100%;
	height:100%;
	font-family: 'Montserrat,' sans-serif;
  	background: url(file:///C:/Users/18189/Desktop/start%20up%20event.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-size: 3em;
  color: #191919;
 }

.buffer {
	height: 25rem;
}
 
.btn {
	font-family: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
}
	.btn-primary {
		background-color: #ee4bo8;
		border-color:  #ee4bo8; 
		-bs-btn-hover-bg: #ee4b08;
		-bs-btn-hover-border-cover:#ee4b08;
		border-width: 4px;
}

.btn-xl {
	padding:1rem 2rem;
}

hr {
	margin:20px auto;
	color:#000080;
	border: 3px solid #F05f44;
	max-width; 65px;
	opacity: 1;
}
